body {
  font-family: roboto !important;
   }
.product-hunt-badge{
    width: 250px !important;
    margin-top: 10% !important;
    margin-bottom: 5% !important;
}
.subheading{
    font-size: 19px !important;
    font-weight: 500 !important;
    line-height: 28.5px !important;
    color: rgb(153, 153, 153) !important;
    font-family: 'Josefin Sans', sans-serif !important;

}
.hero-heading{
    font-size: 60px !important;
    font-weight: 800 !important;
    line-height: 66px !important;
    color: rgb(255, 255, 255) !important;
    margin-bottom: 5% !important;
    font-family: 'Josefin Sans', sans-serif !important;

}

.btn-warning {
    background-color: gold;
    border-color: gold;
    color: white;
    margin-top: 5% !important;
  }
  .btn-warning:hover {
    background-color: #f1c15d;
    border-color: #f1c15d;
    color: white;
  }
  .btn-rounded {
    border-radius: 25px !important;
  }
  .btn-lg {
    padding: 1rem 2rem;
  }

  .inline-review {
    display: flex;
    align-items: center;
    background-color: #222222 !important;
    width: 550px !important;
    border-radius: 25px !important;
    margin-top: 5% !important;
    margin-bottom: 7% !important;
    padding: 10px !important;
}

@media only screen and (max-width: 600px) {
  .inline-review {
    display: inline-block;
    align-items: center;
    background-color: #222222 !important;
    width: 400px !important;
    border-radius: 25px !important;
    margin-top: 5% !important;
    margin-bottom: 7% !important;
    padding: 10px !important;
    padding-left: 100px !important;
}
}

.rating {
    display: flex;
    align-items: center;
    margin-left: 15px !important;
}

:root {
    --star-size: 22px;
    --star-color: #fff;
    --star-background: #fc0;
  }
  
  .Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    line-height: 1;
  
    &::before {
      content: "★★★★★";
      letter-spacing: 3px;
      background: linear-gradient(
        90deg,
        var(--star-background) var(--percent),
        var(--star-color) var(--percent)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

.text {
    margin-left: 10px;
    margin-right: 10px;
    color: white !important;
    margin-left: 15px !important;
}

.images {
    display: flex;
    align-items: center;
    margin-left: 15px !important;
}

.images img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.hero-image-review{
    border-radius: 25px !important;
}
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px !important;
}
#adv-one{
  background-color: #f7f7f5 !important;
  margin-top: 7% !important;
}
.subheading-adv-one{
  opacity: 0.5 !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  line-height: 19.2px !important;
  font-family: 'Josefin Sans', sans-serif !important;

}
.heading-adv-one{
  font-size: 48px !important;
  font-weight: 900 !important;
  line-height: 57.6px !important;
  margin-top: 5% !important;
  font-family: 'Josefin Sans', sans-serif !important;

}
.text-adv-one{
  font-size: 20px !important;
  line-height: 30px !important;
  color: rgb(68, 68, 68) !important;
  text-align: left !important;
  width: 500px !important;
  margin-top: 5% !important;
}

@media only screen and (max-width: 600px) {
  .text-adv-one{
    font-size: 20px !important;
    line-height: 30px !important;
    color: rgb(68, 68, 68) !important;
    text-align: left !important;
    width: 100% !important;
    margin-top: 5% !important;
  }
}
.image-adv-one{
  width: 70% !important;
  align-items: center !important;
  margin-top: 5% !important;
}
.username-adv-one{
  padding-left: 20px !important;
  text-decoration: underline !important;
  opacity: 0.3 !important;
  font-weight: 800 !important;
  font-size: 14px !important;
}
.date-adv-one{
  padding-left: 20px !important;
  font-size: 14px !important;
  opacity: 0.3 !important;
  font-weight: 800 !important;
}
.first-row-adv-one{
  margin-top: 5% !important;
  margin-left: 5px !important;

}
.second-row-adv-one{
  margin-top: 5% !important;
  width: 600px !important;
  margin-left: 35px !important;
  text-align: left !important;
}
@media only screen and (max-width: 600px) {
  .second-row-adv-one{
    margin-top: 5% !important;
    width: 400px !important;
    margin-left: 0px !important;
    text-align: left !important;
  }
}
.background-adv-one-review{
  background-color: #F7EFD5 !important;
  width: 700px !important;
  border: 2px solid #fc0 !important;
  border-radius: 25px !important;
  margin-top: 7% !important;
  margin-bottom: 7% !important;
}

@media only screen and (max-width: 600px) {
  .background-adv-one-review{
    background-color: #F7EFD5 !important;
    width: 100%  !important;
    border: 2px solid #fc0 !important;
    border-radius: 25px !important;
    margin-top: 7% !important;
    margin-bottom: 7% !important;
  }
}
.rating-adv-one {
  display: flex;
  align-items: center;
  padding-left: 55px !important;
}
@media only screen and (max-width: 600px) {
  .rating-adv-one {
    display: flex;
    align-items: center;
    padding-left: 15px !important;
  }
}
.img-review-adv-one{
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
}
.ID{
  margin-top: 4% !important;
}
#job{
  opacity: 0.3 !important;
  font-weight: 800 !important;
  font-size: 14px !important;
}
.third-row-adv-one{
  margin-left: 25px !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}
@media only screen and (max-width: 600px) {
  .third-row-adv-one{
    margin-left: 0px !important;
    margin-top: 5% !important;
  }
}
.icon-mistakes{
  margin-top: 7% !important;
  width: 23% !important;
}
.heading-mistake{
  font-size: 48px !important;
  line-height: 57px !important;
  font-weight: 800 !important;
  font-family: 'Josefin Sans', sans-serif !important;
}
#mistake{
  width: 700px !important;
}
@media only screen and (max-width: 600px) {
  #mistake{
    width: auto !important;
  }
}
.text-mistake{
  font-size: 20px !important;
  line-height: 30px !important;
  color: rgb(68, 68, 68) !important;
  text-align: left !important;
  width: 500px !important;
  margin-top: 5% !important;
}
@media only screen and (max-width: 600px) {
  .text-mistake{
    font-size: 20px !important;
    line-height: 30px !important;
    color: rgb(68, 68, 68) !important;
    text-align: center !important;
    width: 100%  !important;
    margin-top: 5% !important;
  }
}

.background-biggest-mistakes{
  background-color: rgba(245, 88, 122, 0.215) !important;
  width: 700px !important;
  border: 4px dashed rgb(228,23,73, 0.315) !important;
  border-radius: 25px !important;
  margin-top: 7% !important;
  margin-bottom: 7% !important;
}

@media only screen and (max-width: 600px) {
  .background-biggest-mistakes{
    background-color: rgba(245, 88, 122, 0.215) !important;
    width: 100% !important;
    border: 4px dashed rgb(228,23,73, 0.315) !important;
    border-radius: 25px !important;
    margin-top: 7% !important;
    margin-bottom: 7% !important;
  }
}

.heading-biggest-mistakes{
  font-size: 42px !important;
  line-height: 50.4px !important;
  font-weight: 800 !important;
  margin-top: 7% !important;
  font-family: 'Josefin Sans', sans-serif !important;
}
.box-mistakes li {
  margin-bottom: 8px;
  padding: 5px 0 5px 57px;
  list-style: none;
  font-size: 18px;
  color: #000;
  line-height: 130%;
  font-weight: 700;
  background: url("img/icon-3.svg") no-repeat left center;
}
.text-biggest-mistakes{
  margin-top: 5% !important;
  text-align: left !important;
  margin-bottom: 5% !important;
}
.subheading-adv-two{
  font-size: 16px !important;
  line-height: 19.2px !important;
  margin-top: 5% !important;
  font-family: 'Josefin Sans', sans-serif !important;
  color: grey !important;
  font-weight: 900 !important;
  opacity: 0.5 !important;
}

.background-adv-two{
  background-color: rgb(255, 255, 255) !important;
  width: 700px !important;
  border: 4px dashed rgba(95, 95, 95, 0.356) !important;
  border-radius: 25px !important;
  margin-top: 7% !important;
  margin-bottom: 7% !important;
}
.heading-adv-two{
  font-size: 42px !important;
  line-height: 50.4px !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: 900 !important;
  margin-top: 5% !important;
}
.text-adv-two{
  text-align: left !important;
  width: 450px !important;
  margin-top: 5% !important;
  font-size: 20px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
}

@media only screen and (max-width: 600px) {
  .background-adv-two{
    background-color: rgb(255, 255, 255) !important;
    width: 100%  !important;
    border: 4px dashed rgba(95, 95, 95, 0.356) !important;
    border-radius: 25px !important;
    margin-top: 7% !important;
    margin-bottom: 7% !important;
  }
}

@media only screen and (max-width: 600px) {
  .text-adv-two{
    text-align: left !important;
    width: 100%  !important;
    margin-left: 2% !important;
    margin-top: 5% !important;
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
  }
}

.inline-review-mistakes{
  display: flex;
  align-items: center;
  width: 550px !important;
  border-radius: 25px !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  padding: 10px !important;
  border: 1px solid #222222 !important;
}
@media only screen and (max-width: 600px) {
  .inline-review-mistakes{
    display: block !important;
    align-items: center;
    width: 250px !important;
    border-radius: 25px !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    padding: 10px !important;
    border: 1px solid #222222 !important;
  }
}

.text-inline-review-mistakes{
  margin-left: 10px;
  margin-right: 10px;
  margin-left: 15px !important;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 260px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}
.btn-12 span {
  background: rgb(255,194,14);
  background: linear-gradient(to right, rgb(247, 151, 30), rgb(255, 210, 0) 100%);
  display: block;
  position: absolute;
  width: 260px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
li{
  list-style-type: none;
}

.background-adv-thre{
  background-color: black !important;
  padding: 20px !important;
  width: 700px !important;
  border-radius: 25px !important;
}
@media only screen and (max-width: 600px) {
  .background-adv-thre{
    background-color: black !important;
    padding: 20px !important;
    width: 100% !important;
    border-radius: 25px !important;
  }
}
.bi-fire{
  color: red !important;
  margin-top: 25px !important;
}
@media only screen and (max-width: 600px) {
  .bi-fire{
    color: red !important;
    display: none !important;
  }
}
.heading-adv-thre{
  color: white !important;
  font-size: 42px !important;
  font-weight: 800 !important;
}
@media only screen and (max-width: 600px) {
  .heading-adv-thre{
    color: white !important;
    font-size: 36px !important;
    font-weight: 800 !important;
  }
}
.text-adv-thre{
  color: gray !important;
  text-align: left !important;
  width: 600px !important;
  margin-left: 7% !important;
  margin-top: 5% !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 27px !important;
}
@media only screen and (max-width: 600px) {
  .text-adv-thre{
    color: gray !important;
    text-align: left !important;
    width: 80% !important;
    margin-left: 7% !important;
    margin-top: 5% !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 27px !important;
  }
}
.heading-adv-four{
  margin-top: 7% !important;
  font-weight: 800 !important;
  font-size: 48px !important;
  line-height: 57.6px !important;
}
.background-adv-five{
  background-color: rgb(233, 250, 202) !important;
  width: 700px !important;
  border: 4px dashed rgba(114, 171, 0, 0.542) !important;
  border-radius: 25px !important;
  margin-top: 7% !important;
  margin-bottom: 7% !important;
}
@media only screen and (max-width: 600px) {
  .background-adv-five{
    background-color: rgb(233, 250, 202) !important;
    width: 100%  !important;
    border: 4px dashed rgba(114, 171, 0, 0.542) !important;
    border-radius: 25px !important;
    margin-top: 7% !important;
    margin-bottom: 7% !important;
  }
}
.bulb-icon{
  font-size: 50px !important;
  margin-top: 5% !important;
}
.heading-adv-five{
font-size: 42px !important;
line-height: 50.4px !important;
font-weight: 800 !important;
width: 600px !important;
margin-left: auto !important;
margin-right: auto !important;
}
@media only screen and (max-width: 600px) {
  .heading-adv-five{
    font-size: 42px !important;
    line-height: 50.4px !important;
    font-weight: 800 !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    }
}
.inline-review-adv-five{
  display: flex;
  align-items: center;
  width: 550px !important;
  border-radius: 25px !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  padding: 10px !important;
  background-color: rgba(114, 171, 0, 0.08) !important;
}
@media only screen and (max-width: 600px) {
  .inline-review-adv-five{
    display: block;
    align-items: center;
    width: 250px !important;
    border-radius: 25px !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    padding: 10px !important;
    background-color: rgba(114, 171, 0, 0.08) !important;
    
  }
}

.heading-adv-six{
  margin-top: 7% !important;
  font-weight: 800 !important;
  font-size: 48px !important;
  line-height: 57.6px !important;
}
.check-list{
  font-size: 25px !important;
  line-height: 37.5px !important;
  font-weight: 800 !important;
  margin-top: 5% !important;
  text-align: left !important;
  width: 550px !important;
}
@media only screen and (max-width: 600px) {
  .check-list{
    font-size: 16px !important;
    line-height: 37.5px !important;
    font-weight: 900 !important;
    margin-top: 5% !important;
    text-align: left !important;
    width: 100% !important;
  }
}
.text-adv-six{
    text-align: left !important;
    width: 500px !important;
    margin-top: 5% !important;
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
    margin-left: 15px  !important;
}
@media only screen and (max-width: 600px) {
  .text-adv-six{
    text-align: left !important;
    width: 100%  !important;
    margin-left: 2% !important;
    margin-top: 5% !important;
    font-size: 18px !important;
    line-height: 30px !important;
    font-weight: 400 !important;
  }
}
#mistake > div.container.background-adv-two > div.container > div > ul > li:nth-child(1) > mark{
  background-color: #C3DEFA !important;
}
#mistake > div.container.background-adv-two > div.container > div > ul > li:nth-child(2) > mark{
  background-color: #C3DEFA !important;
}
#mistake > div.container.background-adv-two > div.container > div > ul > li:nth-child(3) > mark{
  background-color: #C3DEFA !important;
}

@media only screen and (max-width: 600px) {
  body > section:nth-child(3) > div.container.background-adv-one-review > div > div.row.third-row-adv-one{
      text-align: center !important;
  }
}
.heading-adv-seven{
  text-align: center !important;
  font-size: 48px !important;
  font-weight: 800 !important;
  line-height: 57.6px !important;
  margin-bottom: 5% !important;
  margin-top: 5% !important;
}
.image-preview-plan{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.heading-adv-eight{
  text-align: center !important;
  font-size: 48px !important;
  font-weight: 800 !important;
  line-height: 57.6px !important;
  margin-top: 5% !important;
}


.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 700px !important;
}
@media only screen and (max-width: 600px) {
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 80% !important;
  }
}

@media only screen and (max-width: 600px) {
  .circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 35px;
    margin-top: 15px;
    margin-left: -250% !important;
    background-color: #444444 !important;
  }
}
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 35px;
  margin-top: 15px;
  background-color: #444444 !important;
}

.circle {
  font-size: 22px !important;
  font-weight: bold;
  background-color: white !important;
  color: #000 !important;
}

.line {
  width: 2px;
  height: 50px;
  background-color: #ccc;
  margin-left: -309px !important;
  margin-top: -30px !important;
}
@media only screen and (max-width: 600px) {
  .line {
    width: 2px;
    height: 50px;
    background-color: #ccc;
    margin-left: -62% !important;
    margin-top: -30px !important;
  }
}


.text-timeline{
  margin-top: -70px !important;
  margin-left: 70px !important;
  width: 500px !important;
  font-size: 18px !important;
}
@media only screen and (max-width: 600px) {
  .text-timeline{
    margin-top: -70px !important;
    margin-left: 100px !important;
    width: 80% !important;
    font-size: 18px !important;
  }
}
.heading-timeline{
  text-align: center !important;
  margin-top: 7% !important;
  font-size: 48px !important;
  font-weight: 900 !important;
  line-height: 57.6px !important;
}
@media only screen and (max-width: 600px) {
  .heading-timeline{
    margin-top: 7% !important;
    font-size: 36px !important;
    font-weight: 900 !important;
  }
}
body > section:nth-child(3) > div:nth-child(5) > h2 > mark{
  background-color: #C3DEFA !important;
}  
#buy-offer{
  background-color: black !important;
  margin-top: 7% !important;
  margin-bottom: 7% !important;
  padding-bottom: 5% !important;
}
.subheading-buy-offer{
  text-align: center !important;
  line-height: 19.2px !important;
  color: #FED300 !important;
  font-weight: 600 !important;
  padding-top: 5% !important;
}
@media only screen and (max-width: 600px) {
  .subheading-buy-offer{
    text-align: center !important;
    line-height: 19.2px !important;
    color: #FED300 !important;
    font-weight: 600 !important;
    padding-top: 5% !important;
    font-size: 14px !important;
  }
}
.heading-buy-offer{
  text-align: center !important;
  font-weight: 900 !important;
  font-size: 42px !important;
  color: white !important;
  width: 900px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media only screen and (max-width: 600px) {
  .heading-buy-offer{
    text-align: center !important;
    font-weight: 900 !important;
    font-size: 36px !important;
    color: white !important;
    width: 100% !important;
  }
}
.card{
  width: 550px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5% !important;
  border-radius: 25px !important;
}
@media only screen and (max-width: 600px) {
  .card{
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5% !important;
    border-radius: 25px !important;
  }
}

.card-header{
  color:#77A618 !important;
  font-weight: 800 !important;
  text-align: center !important;
  line-height: 19.2px !important;
  letter-spacing: 2px !important;
}
.subheading-card{
  color: #000 !important;
  font-weight: 300 !important;
  letter-spacing: normal !important;
  font-size: 14px !important;
}
.old-price{
  font-size: 36px !important;
  letter-spacing: 3px !important;
  color: grey !important;
  font-weight: 900 !important;
  opacity: 0.5 !important;
}
.card-text{
  text-align: center !important;
}
.new-price{
  text-align: center !important;
  font-size: 72px !important;
  font-weight: 900 !important;
  color: black !important;
  margin-top: -35px !important;
  letter-spacing: 3px !important;
}
.discount{
  font-size: 14px !important;
  text-align: center !important;
  background-color: #E02020 !important;
  width: 260px !important;
  height: 30px !important;
  border-radius: 5px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color: white !important;
  margin-top: -15px !important;
  font-weight: 900 !important;
  padding-top: 8px !important;
}
#currentDay{
  text-transform: uppercase !important;
}
.hr{
  border-bottom: 2px solid grey !important;
  opacity: 0.4 !important;
  width: 430px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media only screen and (max-width: 600px) {
  .hr{
    border-bottom: 2px solid grey !important;
    opacity: 0.4 !important;
    width: 290px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.heading-list-buy-offer{
  font-size: 21px !important;
  line-height: 25.2px !important;
  font-weight: 800 !important;
  width: 430px !important;
  margin-left: 40px !important;
  margin-top: 5% !important;
}
@media only screen and (max-width: 600px) {
  .heading-list-buy-offer{
    font-size: 21px !important;
    line-height: 25.2px !important;
    font-weight: 800 !important;
    width: 80% !important;
    margin-left: 40px !important;
    margin-top: 5% !important;
  }
}
.bonus-buy-offer{
  font-size: 10px !important;
  line-height: 15px !important;
  background-color: #77A618 !important;
  color: white !important;
  font-weight: 800 !important;
  border-radius: 5px !important;
  padding: 3px !important;
}
.check-list-buy-offer{
  margin-left: -35px !important;
  letter-spacing: 0.5px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  opacity: 0.9 !important;
}
@media only screen and (max-width: 600px) {
  .check-list-buy-offer{
    margin-left: 5px !important;
    letter-spacing: 0.5px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
    opacity: 0.9 !important;
  }
}
.text-buy-offer{
  margin-left: 42px !important;
  margin-top: 5% !important;
  font-weight: 500 !important;
}
.text-buy-offer-second{
  margin-left: 42px !important;
  margin-top: -2.5% !important;
  font-weight: 500 !important;
}
.background-text-buy-offer{
  background-color: #f7ecc9 !important;
  padding: 5px !important;
  border-radius: 5px !important;
}
.pay-text-offer{
  font-size: 12px !important;
  text-align: center !important;
}
.logos-payment{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .button-buy-offer{
    margin-left: 10% !important;
  }
}
