body {
  font-family: roboto !important;
   }
.product-hunt-badge{
    width: 250px !important;
    margin-top: 10% !important;
    margin-bottom: 5% !important;
}
.subheading{
    font-size: 19px !important;
    font-weight: 500 !important;
    line-height: 28.5px !important;
    color: rgb(153, 153, 153) !important;
    font-family: 'Josefin Sans', sans-serif !important;

}
.hero-heading{
    font-size: 60px !important;
    font-weight: 800 !important;
    line-height: 66px !important;
    color: rgb(255, 255, 255) !important;
    margin-bottom: 5% !important;
    font-family: 'Josefin Sans', sans-serif !important;

}

.btn-warning {
    background-color: gold;
    border-color: gold;
    color: white;
    margin-top: 5% !important;
  }
  .btn-warning:hover {
    background-color: #f1c15d;
    border-color: #f1c15d;
    color: white;
  }
  .btn-rounded {
    border-radius: 25px !important;
  }
  .btn-lg {
    padding: 1rem 2rem;
  }

  .inline-review {
    display: flex;
    align-items: center;
    background-color: #222222 !important;
    width: 550px !important;
    border-radius: 25px !important;
    margin-top: 5% !important;
    margin-bottom: 7% !important;
    padding: 10px !important;
}

@media only screen and (max-width: 600px) {
  .inline-review {
    display: inline-block;
    align-items: center;
    background-color: #222222 !important;
    width: 400px !important;
    border-radius: 25px !important;
    margin-top: 5% !important;
    margin-bottom: 7% !important;
    padding: 10px !important;
    padding-left: 100px !important;
}
}

.rating {
    display: flex;
    align-items: center;
    margin-left: 15px !important;
}

:root {
    --star-size: 22px;
    --star-color: #fff;
    --star-background: #fc0;
  }
  
  .Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    line-height: 1;
  
    &::before {
      content: "★★★★★";
      letter-spacing: 3px;
      background: linear-gradient(
        90deg,
        var(--star-background) var(--percent),
        var(--star-color) var(--percent)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

.text {
    margin-left: 10px;
    margin-right: 10px;
    color: white !important;
    margin-left: 15px !important;
}

.images {
    display: flex;
    align-items: center;
    margin-left: 15px !important;
}

.images img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.hero-image-review{
    border-radius: 25px !important;
}
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px !important;
}
#adv-one{
  background-color: #f7f7f5 !important;
  margin-top: 7% !important;
}
.subheading-adv-one{
  opacity: 0.5 !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  line-height: 19 2px !important;
  font-family: 'Josefin Sans', sans-serif !important;

}
.heading-adv-one{
  font-size: 48px !important;
  font-weight: 900 !important;
  line-height: 57 6px !important;
  margin-top: 5% !important;
  font-family: 'Josefin Sans', sans-serif !important;

}
.text-adv-one{
  font-size: 20px !important;
  line-height: 30px !important;
  color: rgb(68, 68, 68) !important;
  text-align: left !important;
  width: 500px !important;
  margin-top: 5% !important;
}

@media only screen and (max-width: 600px) {
  .text-adv-one{
    font-size: 20px !important;
    line-height: 30px !important;
    color: rgb(68, 68, 68) !important;
    text-align: left !important;
    width: 100% !important;
    margin-top: 5% !important;
  }
}
.image-adv-one{
  width: 70% !important;
  align-items: center !important;
  margin-top: 5% !important;
}
.username-adv-one{
  padding-left: 20px !important;
  text-decoration: underline !important;
  opacity: 0.3 !important;
  font-weight: 800 !important;
  font-size: 14px !important;
}
.date-adv-one{
  padding-left: 20px !important;
  font-size: 14px !important;
  opacity: 0.3 !important;
  font-weight: 800 !important;
}
.first-row-adv-one{
  margin-top: 5% !important;
  margin-left: 5px !important;

}
.second-row-adv-one{
  margin-top: 5% !important;
  width: 600px !important;
  margin-left: 35px !important;
  text-align: left !important;
}
@media only screen and (max-width: 600px) {
  .second-row-adv-one{
    margin-top: 5% !important;
    width: 400px !important;
    margin-left: 0px !important;
    text-align: left !important;
  }
}
.background-adv-one-review{
  background-color: #F7EFD5 !important;
  width: 700px !important;
  border: 2px solid #fc0 !important;
  border-radius: 25px !important;
  margin-top: 7% !important;
  margin-bottom: 7% !important;
}

@media only screen and (max-width: 600px) {
  .background-adv-one-review{
    background-color: #F7EFD5 !important;
    width: 100%  !important;
    border: 2px solid #fc0 !important;
    border-radius: 25px !important;
    margin-top: 7% !important;
    margin-bottom: 7% !important;
  }
}
.rating-adv-one {
  display: flex;
  align-items: center;
  padding-left: 55px !important;
}
@media only screen and (max-width: 600px) {
  .rating-adv-one {
    display: flex;
    align-items: center;
    padding-left: 15px !important;
  }
}
.img-review-adv-one{
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
}
.ID{
  margin-top: 4% !important;
}
#job{
  opacity: 0.3 !important;
  font-weight: 800 !important;
  font-size: 14px !important;
}
.third-row-adv-one{
  margin-left: 25px !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}
@media only screen and (max-width: 600px) {
  .third-row-adv-one{
    margin-left: 0px !important;
    margin-top: 5% !important;
  }
}
.icon-mistakes{
  margin-top: 7% !important;
  width: 23% !important;
}
.heading-mistake{
  font-size: 48px !important;
  line-height: 57px !important;
  font-weight: 800 !important;
  font-family: 'Josefin Sans', sans-serif !important;
}
#mistake{
  width: 700px !important;
}
@media only screen and (max-width: 600px) {
  #mistake{
    width: auto !important;
  }
}
.text-mistake{
  font-size: 20px !important;
  line-height: 30px !important;
  color: rgb(68, 68, 68) !important;
  text-align: left !important;
  width: 500px !important;
  margin-top: 5% !important;
}
@media only screen and (max-width: 600px) {
  .text-mistake{
    font-size: 20px !important;
    line-height: 30px !important;
    color: rgb(68, 68, 68) !important;
    text-align: center !important;
    width: 100%  !important;
    margin-top: 5% !important;
  }
}

.background-biggest-mistakes{
  background-color: rgba(245, 88, 122, 0.215) !important;
  width: 700px !important;
  border: 4px dashed rgb(228,23,73, 0.315) !important;
  border-radius: 25px !important;
  margin-top: 7% !important;
  margin-bottom: 7% !important;
}

@media only screen and (max-width: 600px) {
  .background-biggest-mistakes{
    background-color: rgba(245, 88, 122, 0.215) !important;
    width: 100% !important;
    border: 4px dashed rgb(228,23,73, 0.315) !important;
    border-radius: 25px !important;
    margin-top: 7% !important;
    margin-bottom: 7% !important;
  }
}

.heading-biggest-mistakes{
  font-size: 42px !important;
  line-height: 50.4px !important;
  font-weight: 800 !important;
  margin-top: 7% !important;
  font-family: 'Josefin Sans', sans-serif !important;
}
.box-mistakes li {
  margin-bottom: 8px;
  padding: 5px 0 5px 57px;
  list-style: none;
  font-size: 18px;
  color: #000;
  line-height: 130%;
  font-weight: 700;
  background: url("img/icon-3.svg") no-repeat left center;
}
.text-biggest-mistakes{
  margin-top: 5% !important;
  text-align: left !important;
  margin-bottom: 5% !important;
}
.subheading-adv-two{
  font-size: 16px !important;
  line-height: 19.2px !important;
  margin-top: 5% !important;
  font-family: 'Josefin Sans', sans-serif !important;

}

.background-adv-two{
  background-color: rgb(255, 255, 255) !important;
  width: 700px !important;
  border: 4px dashed rgba(95, 95, 95, 0.356) !important;
  border-radius: 25px !important;
  margin-top: 7% !important;
  margin-bottom: 7% !important;
}
.heading-adv-two{
  font-size: 42px !important;
  line-height: 50.4px !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: 900 !important;
  margin-top: 5% !important;
}
.text-adv-two{
  text-align: left !important;
  width: 450px !important;
  margin-top: 5% !important;
  font-size: 20px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
}

@media only screen and (max-width: 600px) {
  .background-adv-two{
    background-color: rgb(255, 255, 255) !important;
    width: 100%  !important;
    border: 4px dashed rgba(95, 95, 95, 0.356) !important;
    border-radius: 25px !important;
    margin-top: 7% !important;
    margin-bottom: 7% !important;
  }
}

@media only screen and (max-width: 600px) {
  .text-adv-two{
    text-align: left !important;
    width: 100%  !important;
    margin-left: 2% !important;
    margin-top: 5% !important;
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
  }
}

.inline-review-mistakes{
  display: flex;
  align-items: center;
  width: 550px !important;
  border-radius: 25px !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  padding: 10px !important;
  border: 1px solid #222222 !important;
}
@media only screen and (max-width: 600px) {
  .inline-review-mistakes{
    display: block !important;
    align-items: center;
    width: 250px !important;
    border-radius: 25px !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    padding: 10px !important;
    border: 1px solid #222222 !important;
  }
}

.text-inline-review-mistakes{
  margin-left: 10px;
  margin-right: 10px;
  margin-left: 15px !important;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 260px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}
.btn-12 span {
  background: rgb(255,194,14);
  background: linear-gradient(to right, rgb(247, 151, 30), rgb(255, 210, 0) 100%);
  display: block;
  position: absolute;
  width: 260px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
li{
  list-style-type: none;
}
.background-adv-thre{
  background-color: black !important;
  padding: 20px !important;
  width: 700px !important;
  border-radius: 25px !important;
}
.bi-fire{
  color: red !important;
  margin-top: 25px !important;
}
.heading-adv-thre{
  color: white !important;
  font-size: 42px !important;
  font-weight: 800 !important;
}
.text-adv-thre{
  color: gray !important;
  text-align: left !important;
  width: 600px !important;
  margin-left: 7% !important;
  margin-top: 5% !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 27px !important;
}